<div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="main-nav"></button>
  <div class="title-bar-title"><%= image_tag("cc4es_logo.png", alt: "CC4ES") %></div>
</div>
<div class="top-bar">
  <div class="top-bar-left show-for-medium">
    <h1><a href="/"><%= image_tag("cc4es_logo.png", alt: "CC4ES", class: "main-logo") %></a></h1>
  </div>
  <div class="top-bar-right" id="main-nav">
    <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown" >
      <li><%= link_to "Home", "/" %></li>
      <li><%= link_to "About Us", "/about-us/" %></li>
      <li><%= link_to "Contact", "/contact-cc4es/" %></li>
      <li>
        <a>Six Modules</a>
        <ul class="menu vertical">
          <li><%= link_to "How to Navigate Six Modules", "#" %></li>
          <li><%= link_to "Environmental Justice and Diversity", "#" %></li>
          <li><%= link_to "Environmental Literacy Fundamentals", "#" %></li>
          <li><%= link_to "Sustainable Food Systems", "#" %></li>
          <li><%= link_to "Regenerative Technologies", "#" %></li>
          <li><%= link_to "Sustainable Business Practices", "#" %></li>
          <li><%= link_to "Resilient Community Building", "#" %></li>
        </ul>
      </li>
      <li><%= link_to "CC4ES Circles", "#" %></li>
      <li><%= link_to "CC4ES Maps", "#" %></li>
      <li><%= link_to "Library", "#" %></li>
    </ul>
  </div>
</div>
