<%# Main Navigation markup - included on every page via /layouts/layout.erb %>
 
<div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="main-nav"></button>
  <div class="title-bar-title"><%= image_tag("cc4es_logo.png", alt: "CC4ES") %></div>
</div>
<div class="top-bar">
  <div class="top-bar-left show-for-medium">
    <h1><a href="/"><%= image_tag("cc4es_logo.png", alt: "CC4ES", class: "main-logo") %></a></h1>
  </div>
  <div class="top-bar-right" id="main-nav">
    <ul class="vertical medium-horizontal menu" data-responsive-menu="accordion medium-dropdown" >
    <% data.site.main_nav.each do |item| %>
      <li class="<%= current_page.page_id == item[:slug] ? 'is-active' : '' %>">
        <% unless item.has_key? :subnav %>
          <%= link_to(item[:text], item[:slug]) %>
        <% else %>
          <a><%= item[:text] %></a>
          <ul class="menu vertical">
          <% item[:subnav].each do |subitem| %>
            <li class="<%= current_page.page_id == subitem[:slug] ? 'is-active' : '' %>">
              <%= link_to(subitem[:text], subitem[:slug]) %>
            </li>
          <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>
