---
import TeamBio from "./TeamBio";

export interface Props {
  name: string;
  title: string;
  image: string;
  imageAlt: string;
  bioText: string;
  additionalButtonText?: string;
  additionalButtonHref?: string;
}

const {
  additionalButtonHref,
  additionalButtonText,
  name,
  title,
  image,
  imageAlt,
  bioText,
} = Astro.props;
---

<div
  class="w-full bg-white rounded-lg border border-gray-200 shadow-md p-8 flex flex-col justify-center items-center"
>
  <div class="mb-6">
    <img
      class="object-center object-cover rounded-full h-48 w-48"
      src={"/" + image}
      alt={imageAlt}
    />
  </div>
  <div class="text-center">
    <p class="text-2xl text-gray-700 font-bold mb-2">{name}</p>
    <p class="text-xl text-gray-500 whitespace-pre-wrap">{title}</p>
    <TeamBio
      client:load
      name={name}
      bioText={bioText}
      additionalButtonHref={additionalButtonHref}
      additionalButtonText={additionalButtonText}
    />
  </div>
</div>
