---
nav: "about-us"
path: "/about-us/"
title: "CC4ES | About Us"
description: "CC4ES is a 501(c)(3) non-profit grassroots organization for building sustainable and resilient communities with environmental, social and economic justice and equity."
hero_title: "About Us"
hero_subtitle: "CC4ES cultivates sustainable lifestyle in all walks of life"
---

<%= partial 'partials/header' %>

<article class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6 large-8">
      <h2>Mission of CC4ES:</h2>
      <p class="big-text">
        to build sustainable and resilient communities with environmental, social and economic justice and equity.
      </p>
      <p class="cell small-12">
        The meaning of “Environmental Sustainability” varies depending upon the context.  Sustainability encompasses three essential components -- environmental (Planet), social (People) and economic (Prosperity or Profit).  Environment can be a community of social interactions, a political system, a natural ecosystem, a business entity of economic interactions, or society as a whole. 
      </p>
      <p class="cell small-12"> 
        The CC4ES Environmental Justice & Diversity module underpins all of the CC4ES Modules since collective shift requires a system that champions justice and equity.  Building such a system must start with awareness and continual practice of justice and equity at the individual level. CC4ES’ resources are structured in a journey format that accommodates individual pace and curiosity.
      </p>
    </div>
    <div class="cell small-12 medium-6 large-4">
      <div class="image-with-overlay">
        <span class="quote">One small individual act starts a ripple that affects the whole community. Start Yours!</span>
        <span class="author">Susan Shim Gorelick</span>
      </div>
    </div>

    <div class="cell small-12">
      <h2 class="green-section-heading">Our Team</h2>
    </div>
    <% data.about_us.team_members.each do |team_member| %>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag("#{team_member.image}", :alt => "#{team_member.image_alt}", :class => 'about-headshot float-left', :style => 'margin-right:10px;') %>
        <div class="bio-text">
          <span class="h4"><%= team_member.name %></span>
          <span class="business-title"><%= team_member.title %></span>
        </div>
      </div>
      <details>
        <summary>Read bio</summary>
        <%= markdown(team_member.bio_text) %>
      </details>
      <br />
    </div>
    <% end %>

    <div class="cell small-12">
      <h2 class="green-section-heading">Members</h2>
    </div>
    <% data.about_us.members&.each do |team_member| %>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag("#{team_member.image}", :alt => "#{team_member.image_alt}", :class => 'about-headshot') %>
        <div class="bio-text">
          <span class="h4"><%= team_member.name %></span>
          <span class="business-title"><%= team_member.title %></span>
        </div>
      </div>
      <details>
        <summary>Read bio</summary>
        <%= markdown(team_member.bio_text) %>
      </details>
      <br />
    </div>
    <% end %>
  </div>

</article>
