---
nav: "about-us"
path: "/about-us/"
title: "CC4ES | About Us"
description: "CC4ES is a 501(c)(3) non-profit grassroots organization for building sustainable and resilient communities with environmental, social and economic justice and equity."
hero_title: "About Us"
hero_subtitle: "CC4ES cultivates sustainable lifestyle in all walks of life"
---

<%= partial 'partials/header' %>

<article class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6 large-8">
      <h2>Mission of CC4ES:</h2>
      <p class="big-text">
        to build sustainable and resilient communities with environmental, social and economic justice and equity.
      </p>
      <p class="cell small-12">
        The meaning of “Environmental Sustainability” varies depending upon the context.  Sustainability encompasses three essential components -- environmental (Planet), social (People) and economic (Prosperity or Profit).  Environment can be a community of social interactions, a political system, a natural ecosystem, a business entity of economic interactions, or society as a whole. 
      </p>
      <p class="cell small-12"> 
        The CC4ES Environmental Justice & Diversity module underpins all of the CC4ES Modules since collective shift requires a system that champions justice and equity.  Building such a system must start with awareness and continual practice of justice and equity at the individual level. CC4ES’ resources are structured in a journey format that accommodates individual pace and curiosity.
      </p>
    </div>
    <div class="cell small-12 medium-6 large-4">
      <div class="image-with-overlay">
        <span class="quote">One small individual act starts a ripple that affects the whole community. Start Yours!</span>
        <span class="author">Susan Shim Gorelick</span>
      </div>
    </div>
    <div class="cell small-12">
      <h2 class="green-section-heading">Our Team</h2>
    </div>
    <% data.about_us.team_members.each do |team_member| %>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag("#{team_member.image}", :alt => "#{team_member.image_alt}", :class => 'about-headshot') %>
        <div class="bio-text">
          <span class="h4"><%= team_member.name %></span>
          <span class="business-title"><%= team_member.title %></span>
        </div>
      </div>
      <%= markdown(team_member.bio_text) %>
    </div>
    <% end %>
    <%# TODO: Move the below HTML to the data/about_us.yml file. %>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag('betsy_about.jpg', :alt => 'photo of Betsy Motyl', :class => 'about-headshot') %>
        <div class="bio-text">
          <span class="h4">Betsy Motyl, M.S.</span>
          <span class="business-title">Director of Program Development & Coordination</span>
        </div>
      </div>  
      <p> Betsy is an experienced educator. She has taught middle school science in four different states (AR, VT, MA and RI), in public, private and charter schools.  She has also taught RI adults in both workforce readiness and English as a Second Language using Adult Learning Theory. Her experience as an Rhode Island environmental educator coupled with a Masters in Science and Environmental Education Reform and her expertise in curriculum design and program development are further assets to advancing CC4ES’ Environmental Literacy Fundamentals module.  
      </p>
      <p> Her year-long world travel studying sustainability instilled in her both the value and appreciation of community-based approaches to environmental issues and a deep commitment to the sustainability causes that align with the CC4ES mission.  She became a URI Master Gardener in 2016 and works to remove invasive species in favor of planting native species and serves as a School Garden Mentor. Currently, she is the middle school science guide at Quest Montessori School in Narragansett, RI.
      </p>
    </div>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag('linda_about.jpg', :alt => 'photo of Linda Perri', :class => 'about-headshot') %>
        <div class="bio-text">
          <span class="h4">Linda Perri</span>
          <span class="business-title">Director of Community Outreach & Engagement</span>
        </div>
      </div>  
      <p> Linda is a longtime resident of and property owner in the Washington Park neighborhood in South Providence. Over the past several years, her personal commitment to the residents, environment, neighborhood and city has enabled Linda to bring together organizations and individuals across business, civic, and political groups to improve the quality of life in South Providence.  
      </p>
      <p> As a founding member and current Chair of the Washington Park Association since 2015, Linda created the Washington Park Crime Watch.  She is also a founding member of the Port of Providence Working Group; a member of Providence Neighborhood Tree Planting, and the Providence Coalition of Neighborhood Associations. 
      </p>
      <p> In 2019 the Washington Park Association, along with several concerned citizens, mobilized to voice concerns against the addition of a toxic Waste Transfer Station in their Allens Avenue district with success.  Working along with City Council, this effort resulted in a change to the zoning laws.  Linda actively works to engage the community to create green spaces, accomplished the planting of over 100 trees on city streets over a period of 6 years, works to ensure water access for such green endeavors, and facilitates solar energy initiatives in the frontline community of South Providence.
      </p>
      <p> Linda is an environmentalist, artist, traveler, gardener, and landscaper.
      </p>
    </div>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag('melissa_about.jpg', :alt => 'photo of Melissa Guillet', :class => 'about-headshot') %>
        <div class="bio-text">
          <span class="h4">Melissa Guillet</span>
          <span class="business-title">Director of Programming 15 Minute Field Trip with CC4ES Connect</span>
        </div>
      </div>
      <p> Melissa founded and runs 15 Minute Field Trips, a 501(c)3 that helps youth advocate for the environment through art, outdoor activities, and community action.  
      </p>
      <p> Melissa became a URI Master Gardener in 2011 and was involved in the pilot Eco-Exploration Camp.  She was also in Audubon Society of RI's pilot Schoolyard Science for an Urban Eco-System. 
      </p>
      <p> Melissa was named Environmental Educator of the Year in 2012.  She continues to give lectures on environmental practices: speaking at the Rhode Island Environmental Education Association's annual meeting on STEM to STEAM enactment; presenting and workshopping "Art & Design to Engage Kids in STEM Subjects" at the New England Association of Technology Teachers 2014 conference; and presenting on how to start and maintain a school garden at the 2015 "School Gardens 101" conference at Rhode Island College. 
      </p>
      <p> Melissa has received multiple recognition awards from the East Providence School Department.  She has developed her programming over years working with elementary students and started an Eco-Warrior program to encourage environmental leadership at home. As her 15 Minute Field TripsTM resonates the gardening and citizen scientist components of CC4ES ConnectTM, Melissa oversees and coordinates those components as CC4ES Team.
      </p>
    </div>
    <%# //only remove through this line. %>
  </div>
</article>
