---
nav: "about-us"
path: "/about-us/"
title: "CC4ES | About US"
description: "CC4ES is a 501(c)(3) non-profit grassroots organization for building sustainable and regenerative communities with environmental, social and economic justice and equity."
hero_title: "ABOUT US"
hero_subtitle: "CC4ES Team facilitates collaboration among and between organizations and communities for sustainability, starting from our own team"
---

<%= partial 'partials/header' %>

<article class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6 large-8">
      <h2>Mission of CC4ES:</h2>
      <p class="big-text">
        To link organizations with communities for building sustainable and regenerative communities with environmental, social and economic justice and equity.
      </p>
      <p class="cell small-12">
        The meaning of “Environmental Sustainability” varies depending upon the context.  Sustainability encompasses three essential components -- environmental (Planet), social (People) and economic (Prosperity or Profit).  Environment can be a community of social interactions, a political system, a natural ecosystem, a business entity of economic interactions, or society as a whole. 
      </p>
      <p class="cell small-12"> 
        Building a community or society that champions justice and equity in all environmental, social, and economic sustainability dimensions requires collaboration necessary for collective shifts. Such shifts must start with awareness and continual practice of justice and equity at the individual level.  Yet, each of us needs to come out of our own institutionalized silos of however shape or level. Although CC4ES links organizations with communities for collaboration, but CC4ES does not consolidate nor represent them. Instead, CC4ES identifies each entity's needs and resources to showcase their missions, helping them realize their outcomes. This approach is practiced within the CC4ES Team.
     </p> 
    </div>
     <div class="cell small-12 medium-6 large-4">
      <div class="image-with-overlay">
        <span class="quote">One small individual act starts a ripple that affects the whole community. Start Yours!</span>
        <span class="author">Susan Shim Gorelick</span>
      </div>
    </div>
    <div class="cell small-12">
      <h2>How CC4ES Team Works & What CC4ES Team Members Do to Help with CC4ES Mission:</h2>
      <p class="cell small-12">
        Each of our team members voluntarily brings in our expertise to the team to commit and dedicate our time and effort for the causes we share and believe in.  Our expertise encompasses a wide range of dimensions of sustainability. Each of us has our own professional commitments in various sectors and sizes. We collaborate by projects we agree to commit with the converged visions.
      </p>
      <p class="cell small-12">
        CC4ES Team Members research, consult, advise, mentor, design programs and curricula, lead or collaborate for projects or initiatives in various capacities and institution types from businesses, academia, and community organizations.  Our projects also vary in sizes from creating a pollinator garden to a state-wide program.  We seek our own funding as well as help organizations we partner with finding funds -- assist them with or partnering for research and writing grants and more. 
      </p>
    </div>
    
    
    <div class="grid-x">
      <h3>Systemic Map of CC4ES</h3>
      <%= image_tag('six_modules_system_map.jpg', :class => 'system-map') %>
    </div>
   
    
    <div class="cell small-12">
      <h2 class="green-section-heading">Our Team</h2>
    </div>
    <% data.about_us.team_members.each do |team_member| %>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag("#{team_member.image}", :alt => "#{team_member.image_alt}", :class => 'about-headshot float-left', :style => 'margin-right:10px;') %>
        <div class="bio-text">
          <span class="h4"><%= team_member.name %></span>
          <span class="business-title"><%= team_member.title %></span>
        </div>
      </div>
      <details>
        <summary>Read bio</summary>
        <%= markdown(team_member.bio_text) %>
      </details>
      <br />
    </div>
    <% end %>

    <div class="cell small-12">
      <h3 class="green-section-heading">[Contact CC4ES to Participate](https://www.cc4es.org/contact/)</h3>
    </div>
    <% data.about_us.members&.each do |team_member| %>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag("#{team_member.image}", :alt => "#{team_member.image_alt}", :class => 'about-headshot') %>
        <div class="bio-text">
          <span class="h4"><%= team_member.name %></span>
          <span class="business-title"><%= team_member.title %></span>
        </div>
      </div>
      <details>
        <summary>Read bio</summary>
        <%= markdown(team_member.bio_text) %>
      </details>
      <br />
    </div>
    <% end %>
  </div>

</article>
