---
nav: "about-us"
path: "/about-us/"
title: "CC4ES | About Us"
description: "CC4ES is a 501(c)(3) non-profit grassroots organization for building sustainable and resilient communities with environmental, social and economic justice and equity."
hero_title: "About Us"
hero_subtitle: "CC4ES cultivates sustainable lifestyle in all walks of life"
---

<%= partial 'partials/header' %>

<article class="grid-container">
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6 large-8">
      <h2>Mission of CC4ES, Coalition Center for Environmental Sustainability:</h2>
      <p class="big-text">
        to build sustainable and resilient communities with environmental, social and economic justice and equity.
      </p>
      <p class="big-text">
        The meaning of “Environmental Sustainability” varies depending upon the context.  Sustainability encompasses three essential components -- environmental (Planet), social (People) and economic (Prosperity or Profit).  Environment can be a community of social interactions, a political system, a natural ecosystem, a business entity of economic interactions, or society as a whole. 
      </p>
      <p class="big-text">
        CC4ES addresses sustainability as it impacts all aspects of our life.  Unprecedented challenges in environmental, social and economic fronts compel us to urgently take collective measures. A coalition entity is called for to coordinate individual actions for a necessary shift toward collective action.  Success is determined by a systemic approach with converged comprehensive visions.  The CC4ES “Coalition Center” uses a Learn-Connect-Practice infrastructure that provides continual learning in both digital and experiential formats.  The CC4ES dynamic mapping offers real-time feedback that results in a comprehensive vision for any project, program or initiative.
      </p>
      <p class="big-text"> 
        The CC4ES Environmental Justice & Diversity module underpins all of the CC4ES Modules since collective shift requires a system that champions justice and equity.  Building such a system must start with awareness and continual practice of justice and equity at the individual level. CC4ES’ resources are structured in a journey format that accommodates individual pace and curiosity.
      </p>
    </div>
    <div class="cell small-12 medium-6 large-4">
      <div class="image-with-overlay">
        <span class="quote">One small individual act starts a ripple that affects the whole community. Start Yours!</span>
        <span class="author">Susan Shim Gorelick</span>
      </div>
    </div>
    <div class="cell small-12">
      <h2 class="green-section-heading">Our Team</h2>
    </div>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag('susan_about.jpg', :alt => 'photo of Susan Gorelick', :class => 'about-headshot') %>
        <div class="bio-text">
          <span class="h4">Susan Shim Gorelick, PhD</span>
          <span class="business-title">Founder & Executive Director| Director of Advancement & Resources</span>
        </div>
      </div>
      <p>
        Susan is a quintessential educator and a perpetual learner. She founded CC4ES based on the core tenets of her teaching principle: a holistic approach, internal motivation, and building a network environment for lifelong learning. Borne CC4ES’ mission,  her passion and commitment for building sustainable and resilient communities with environmental, economic and social justice and equity.  Susan’s  life-defining experience as a 15 year-old Korean immigrant in Flatbush, Brooklyn, New York germinated and has shepharded specific focus on frontline communities.  
      </p>
      <p>
        Susan’s  lifelong endeavor with  practical application of knowledge enables CC4ES to serve as an interface that bridges the information-and-resource gap between policy makers and communities in need.  As an interdisciplinary adjunct professor at Johnson & Wales University, Susan continues this endeavor to engage academia with its surrounding communities for outreach education, policy makers and businesses for community-focused  economic development.  As a Master Gardener, Susan volunteers to oversee the Providence schools under the URI Cooperative Extension School Garden Initiative program.  CC4ES Urban Garden borne of collaborative spirit convenes community and school gardeners and organizations. Its main purpose being to promote  environmental sustainability education with gardening to cultivate sustainable lifestyle.  Susan maintains and practices sustainable lifestyle with organic farming and permaculture at her own SAS Farm.
      </p>
      <p>
        She has BS, MS and ABD degrees in chemistry, and a PhD in environmental and natural resource economics.  She has expertise in curriculum development with a focus on choice theory pedagogy. 
      </p>
    </div>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag('kimberly_about.jpg', :alt => 'photo of Kimberly Wood Bellemore', :class => 'about-headshot') %>
        <div class="bio-text">
          <span class="h4">Kimberly Wood Bellemore, P.E.</span>
          <span class="business-title">Director of Energy & Regenerative Technologies</span>
        </div>
      </div>
      <p>
        Kimberly’s background in engineering and environmental planning and her work in her consulting firm, KB Consulting, underpin the renewable and clean energy technology sectors for CC4ES.  Kimberly has been advocating for sustainable practices through her various community volunteer efforts and personal commitments.  Her systems thinking complements the vision and mission of CC4ES.  Her technological expertise is instrumental in bringing the interdependent community components into collaboration. Kimberly oversess CC4ES Mapping Program. 
      </p>
      <p>
        Kimberly has a BS in Aerospace Engineering as well as a Masters in Urban and Environmental Planning.  She has over 25 years of program and project management experience in the ocean construction field and has served on the boards of Habitat for Humanity/Greenhome and Surfrider Foundation RI.
      </p>
    </div>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag('prisca_about.jpg', :alt => 'photo of Prisca (AKA Priscilla) Castanyer', :class => 'about-headshot') %>
        <div class="bio-text">
          <span class="h4">Prisca Castanyer, PhD.</span>
          <span class="business-title">Director of Research & Policy Analysis</span>
        </div>
      </div>
      <p> Prisca’s interdisciplinary teaching background and research in academia and her advocacy for social justice align seamlessly with CC4ES’ missions and are a great asset in delivering CC4ES outcomes.  Her interest and exhaustive research in a wide range of topics -- poverty, gender, culture, equity, health and food policies, environmental issues, migration patterns, urban and rural economic issues, global vs. local policies, governance, labor markets, and creative leadership -- complement all CC4ES Six Modules in terms of content.  Her research publications based on these topics in several countries including India and the USA affirm the scalability and effectiveness of systemic change that underpins CC4ES missions. They are instrumental in policy analyses necessary for implementing CC4ES objectives in frontline communities -- in a comprehensive grassroots approach. 
      </p>
      <p> Prisca holds a BS in Political Science, and an MA and a PhD in International Economics & Development. She has numerous publications and was awarded the Derek Bok Certificate of Distinction in Teaching at Harvard University, five times during the 2009-2013 span. Currently she teaches at Johnson & Wales University College of Online Education, Arts and Sciences.
      </p>
    </div>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag('betsy_about.jpg', :alt => 'photo of Betsy Motyl', :class => 'about-headshot') %>
        <div class="bio-text">
          <span class="h4">Betsy Motyl, M.S.</span>
          <span class="business-title">Director of Program Development & Coordination</span>
        </div>
      </div>  
      <p> Betsy is an experienced educator. She has taught middle school science in four different states (AR, VT, MA and RI), in public, private and charter schools.  She has also taught RI adults in both workforce readiness and English as a Second Language using Adult Learning Theory. Her experience as an Rhode Island environmental educator coupled with a Masters in Science and Environmental Education Reform and her expertise in curriculum design and program development are further assets to advancing CC4ES’ Environmental Literacy Fundamentals module.  
      </p>
      <p> Her year-long world travel studying sustainability instilled in her both the value and appreciation of community-based approaches to environmental issues and a deep commitment to the sustainability causes that align with the CC4ES mission.  She became a URI Master Gardener in 2016 and works to remove invasive species in favor of planting native species and serves as a School Garden Mentor. Currently, she is the middle school science guide at Quest Montessori School in Narragansett, RI.
      </p>
    </div>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag('linda_about.jpg', :alt => 'photo of Linda Perri', :class => 'about-headshot') %>
        <div class="bio-text">
          <span class="h4">Linda Perri</span>
          <span class="business-title">Director of Community Outreach & Engagement</span>
        </div>
      </div>  
      <p> Linda is a longtime resident of and property owner in the Washington Park neighborhood in South Providence. Over the past several years, her personal commitment to the residents, environment, neighborhood and city has enabled Linda to bring together organizations and individuals across business, civic, and political groups to improve the quality of life in South Providence.  
      </p>
      <p> As a founding member and current Chair of the Washington Park Association since 2015, Linda created the Washington Park Crime Watch.  She is also a founding member of the Port of Providence Working Group; a member of Providence Neighborhood Tree Planting, and the Providence Coalition of Neighborhood Associations. 
      </p>
      <p> In 2019 the Washington Park Association, along with several concerned citizens, mobilized to voice concerns against the addition of a toxic Waste Transfer Station in their Allens Avenue district with success.  Working along with City Council, this effort resulted in a change to the zoning laws.  Linda actively works to engage the community to create green spaces, accomplished the planting of over 100 trees on city streets over a period of 6 years, works to ensure water access for such green endeavors, and facilitates solar energy initiatives in the frontline community of South Providence.
      </p>
      <p> Linda is an environmentalist, artist, traveler, gardener, and landscaper.
      </p>
    </div>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag('melissa_about.jpg', :alt => 'photo of Melissa Guillet', :class => 'about-headshot') %>
        <div class="bio-text">
          <span class="h4">Melissa Guillet</span>
          <span class="business-title">Director of Programming 15 Minute Fiedl Trip with CC4ES Connect</span>
        </div>
      </div>
      <p> Melissa founded and runs 15 Minute Field Trips, a 501(c)3 that helps youth advocate for the environment through art, outdoor activities, and community action.  
      </p>
      <p> Melissa became a URI Master Gardener in 2011 and was involved in the pilot Eco-Exploration Camp.  She was also in Audubon Society of RI's pilot Schoolyard Science for an Urban Eco-System. 
      </p>
      <p> Melissa was named Environmental Educator of the Year in 2012.  She continues to give lectures on environmental practices: speaking at the Rhode Island Environmental Education Association's annual meeting on STEM to STEAM enactment; presenting and workshopping "Art & Design to Engage Kids in STEM Subjects" at the New England Association of Technology Teachers 2014 conference; and presenting on how to start and maintain a school garden at the 2015 "School Gardens 101" conference at Rhode Island College. 
      </p>
      <p> Melissa has received multiple recognition awards from the East Providence School Department.  She has developed her programming over years working with elementary students and started an Eco-Warrior program to encourage environmental leadership at home. As her 15 Minute Field TripsTM resonates the gardening and citizen scientist components of CC4ES ConnectTM, Melissa oversees and coordinates those components as CC4ES Team.
      </p>
    </div>
  </div>
</article>
