---
nav: "connect"
path: "/connect/"
title: "CC4ES | CONNECT"
description: "CC4ES Programs"
hero_title: "CONNECT"
hero_subtitle: "Building sustainable communities "
---

<%= partial 'partials/header' %>

<article class="grid-container">
  
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 text-center">
      <h2>About CONNECT</h2>
      <p>CONNECT is the CC4ES outreach platform to engage communities at the grassroots level.
      </p>
    </div>

<article class="grid-container">

  <div class="grid-x grid-margin-x grid-padding-x grid-margin-y">

    <% data.connect.programs.each do |program| %>
    <div class="program-div cell small-12 medium-12">
      <div class="title-with-photo grid-x grid-margin-x grid-padding-y" style="padding:0;border:2px solid #cec6e6;">
        <h4 class="program-title cell medium-12" style="text-align:center;margin:0;background:#cec6e6;width:100%;"><%= program.name %></h4>
        <div class="program-img cell medium-6 small-12">
          <%= image_tag("#{program.image}", :alt => "#{program.image_alt}", :style => "width:100%;") %>
        </div>
        <div class="program-text cell medium-6 small-12">
          <p class="program-description"><%= markdown(program.description) %></p>
          <% if program.link %>
            <p class="program-link"><a href="<%= program.link %>">Learn more &raquo;</a></p>
          <% end %>
          <% if program.modules %>
            <p class="program-modules"><b>Relevant modules:</b> <%= markdown(program.modules) %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    
  </div>

</article>

