---
title: "CC4ES | Connect"
description: "CC4ES Connect"
hero_title: "CC4ES Connect"
hero_subtitle: "Direct access to the resources referenced in the Six Modules for practical applications"
---

<%= partial 'partials/header' %>

<article class="grid-container">

  <div class="grid-x grid-margin-x grid-padding-x grid-margin-y">

    <% data.connect.connect_entries.each do |entry| %>
    <div class="entry-div cell small-12 medium-12">
      <div class="title-with-photo grid-x grid-margin-x grid-padding-y" style="padding:0;border:2px solid #cec6e6;">
        <h4 class="entry-title cell medium-12" style="text-align:center;margin:0;background:#cec6e6;width:100%;"><%= entry.name %></h4>
        <div class="entry-description cell medium-6 small-12">
          <%= markdown(entry.description) %>
          <% if entry.link %>
            <p class="entry-link"><a href="<%= entry.link %>">Learn more &raquo;</a></p>
          <% end %>
        </div>
        <div class="entry-modules cell medium-6 small-12" style="font-size:90%;">
          <p><b>Relevant modules:</b></p>
          <%= markdown(entry.modules) %>
        </div>
      </div>
    </div>
    <% end %>

  </div>

</article>

<style>

  article .entry-description p {
    font-size: 1.1rem;
  }
  article .entry-modules p {
    font-size: 1.0rem;
  }

</style>
