---
nav: "index"
path: "./"
title: "CC4ES | Home"
description: "CC4ES is a grassroots, non-profit environmental organization dedicated to cultivating sustainable lifestyle in all walks of life.  CC4ES instills systemic mindset by linking communities through its systemic maps while helping individuals initiate small steps."
---

<div class="index-header-hero">
  <div class="grid-container">
    <h2 class="hero-title">Coalition Center for<br>Environmental<br>Sustainability</h2>
    <h4 class="hero-subtitle">Linking Communities for Regenerative Sustainability</h4>
  </div>
</div>

<article class="grid-container">
  <div class="grid-x">
    <div class="text-center cell small-12">
      <h2><strong>A Web-Based Center That Cultivates<br>Sustainable Lifestyle In All Walks Of Life</strong></h2>
      <p>Ever-emerging environmental, social and economic challenges necessitate a lifestyle that fosters sustainability. Cultivating sustainable lifestyles entails continual learning and diligent practices. Such endeavor resonates with the CC4ES core tenets: comprehensive collaboration for systemic change, community-based motivation and empowerment, and establishing an environment for lifelong learning and practice.</p> 
      
      <p>Food is a universal human right. As food is embedded in socio-cultural systems, food justice is environmental, social and economic justice. Growing one's own food provides the most impactful means of ensuring environmental, social and economic sustainability. CC4ES uses growing one's own food as a grassroots community mobilizer to platform the collective shifts necessary for cultivating community-narrated and community-empowered regenerative sustainability.</p>
      
      <h4>Rhody Grows Hope is the central CC4ES program that uses growing one's own food as a grassroots community mobilizer. 
      <br/><br/>
      The CC4ES WebCenter is organized into a LEARN-CONNECT-PRACTICE infrastructure. 
      <br/><br/>   
      </h4>    
    </div>
  </div>
  
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6">
      <%= image_tag('RGH-collage_w_logo.jpg', :class => 'RGH collage with RGH logo in the center') %>
    </div>  
    
    <div class="text-center cell small-12 medium-6">
    
      <%= image_tag('RGH-bag-4-index-2.jpg', :class => 'RGH bag') %>
      <br/><br/>
      <p>Rhody Grows Hope (RGH) is a container gardening program that repurposes food plastic recyclables - such as 32-oz yogurt containers and salad containers - as planters to grow food while reducing plastic waste.  RGH also repurposes heat-treated pallets as raised garden beds. <br/><br/>RGH circumvents soil contamination and limited or no land access prevalent in frontline communities, for food security, sovereignty and justice. <br/><br/>Every $20 provides a RGH garden to help a family in need.</p>
      <% link_to 'donate', :class => "button" do %>
       <h5>Donate Now</h5>
      <% end %>
    </div>  
  </div>
  
  <div class="cell small-12">
     <h2 class="green-section-heading">LEARN</h2>
  </div>  
  <div class="text-center cell small-12">  
     <p>CC4ES classifies the complexity of sustainability into six modules. Although all six modules are interconnected, the Environmental Justice & Diversity module underpins all others. Environmental justice is social justice. Sustainability is only possible in a society that champions justice and equity.
     </p> 
     <p>LEARN inventories and archives resources on sustainability by each CC4ES Six Module, serving as a repository for continual learning.</p>    
     <% link_to 'six-modules', :class => "button" do %>
       <h5>How to Navigate Six Modules</h5>
     <% end %>
  </div>  
  
  <div class="grid-x grid-padding-x grid-margin-x">
  <% data.site.modules.each do |card| %>
    <div class="grid-card cell small-12 medium-6 large-4">
      <div class="card-content">
        <% if card.module_id && card.module_id >= 0
            label_text = "#{card.label}" + " #{card.module_id}"
          else
            label_text = card.label
          end
         %>
        <div>
          <span class="tool-id-label"><%= label_text %></span>
        </div>
        <h3><%= card.title %></h3>
        <% if card.subtitle %><p><%= card.subtitle %></p><% end %>
      </div>
      <% link_to card.cta_page_key, :class => "button" do %>
        <%= card.cta_text %>
      <% end %>
    </div>
  <% end %>
  </div>
  <div class="cell small-12">
     <h2 class="green-section-heading">CONNECT</h2>
  </div>
  
  <div class="grid-x grid-margin-x">
   <div class="text-center cell small-12 medium-6">
      <p>CONNECT platforms <a href='hope-gardeners'><b><em>Hope Gardeners</em></a></b> network for engaging community members at grassroots level to participate in <br/>CC4ES programs to cultivate community-led and empowered regenerative sustainability. <br/><br/>CONNECT is facilitated by <a href='direct'><b><em>CC4ES-Direct</em></a></b> and supported through <a href='conversation-circles'><b><em>CC4ES Conversation Circles</em></a></b>.
      </p>   
   </div>
    
   <div class="text-center cell small-12 medium-6">
     <%= image_tag('CC4ESHG_logo.jpg', :class => 'Hope Gardeners Logo') %>
     <% link_to 'connect', :class => "button" do %>
       <h5>To CONNECT</h5>
     <% end %>
   </div>  
  </div>
  
  <div class="cell small-12">
     <h2 class="green-section-heading">PRACTICE</h2>
  </div>
  
  <div class="grid-x grid-margin-x">
   <div class="text-center cell small-12 medium-6">
      <%= image_tag('Rhody_Grows_Hope_logo_TM(1).jpg', :class => 'Rhody Grows Hope TM logo') %>
     
      <% link_to 'rhody-grows-hope', :class => "button" do %>
       <h5>Learn More</h5>
      <% end %>
   </div>  
    
   <div class="text-center cell small-12 medium-6">
      <p>PRACTICE features CC4ES programs, initiatives and on-ground cohorts in practice. Although each program has its own focus, Rhody Grows Hope encompasses these CC4ES programs with the common thread of growing one’s own food at the grassroots level, initiated, narrated and empowered by community members. The programs include:</p>

        <p><a href='rhody-grows-hope'><em><b>Rhody Grows Hope</b></em></a><br/>
        <a href='museum-of-SH'><em><b>Museum of Silenced Histories & Gardens of Regeneration</b></em></a><br/>
        <a href='youths-4-urban-sustainability'><em><b>Youths for Urban Sustainability</b></em></a></p>
        <br/>

        <% link_to 'practice', :class => "button" do %>
       <h5>To PRACTICE</h5>
      <% end %>
   </div>  
  </div>
</article>
