---
nav: "index"
path: "./"
title: "CC4ES | Home"
description: "CC4ES is a grassroots, non-profit environmental organization dedicated to cultivating sustainable lifestyle in all walks of life.  CC4ES instills systemic mindset by linking communities through its systemic maps while helping individuals initiate small steps."
---

<div class="index-header-hero">
  <div class="grid-container">
    <h2 class="hero-title">Coalition Center for<br>Environmental<br>Sustainability</h2>
    <h4 class="hero-subtitle">Linking Communities for Regenerative Sustainability</h4>
  </div>
</div>

<article class="grid-container">
  <div class="grid-x">
    <div class="text-center cell small-12">
      <h2><strong>A Web-Based Center That Cultivates<br>Sustainable Lifestyle In All Walks Of Life</strong></h2>
      <p>Ever emerging environmental, social and economic challenges necessitate a lifestyle that fosters sustainability. 
        Cultivation of a sustainable lifestyle entails continual learning and diligent practices. Such endeavor resonates 
        with the CC4ES core tenets: comprehensive collaboration for systemic changes, community-based and empowered motivation, 
        and establishing an environment for lifelong learning and practice.</p> 
      
      <p>Food is a universal human right. Because we as food eaters form the largest common denominator, food underscores the 
        commonality among us.  As food is embedded in socio-cultural systems, food justice is environmental, social and economic 
        justice. Growing one's own food provides the most direct impactful means of ensuring environmental, social and economic sustainability.
        CC4ES uses growing one's own food as a grassroots community mobilizer to platform collective shifts necessary for cultivating 
        community-narrated and empowered regenerative sustainability.</p>
      
      <h4>Aligning with its core tenets, CC4ES WebCenter is organized in LEARN-CONNECT-PRACTICE infrastructure for Rhody Grows Hope project 
        that CC4ES uses growing one's own food as a grassroots community mobilizer to platform collective shifts necessary for cultivating 
        community-narrated and empowered regenerative sustainability:</h4>    
    </div>
  </div>
  
  <div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-6">
      <%= image_tag('RGH-collage_w_logo.jpg', :class => 'RGH collage with RGH logo in the center') %>
    </div>  
    
    <div class="text-center cell small-12 medium-6">
      <%= image_tag('GardensR-Hope.jpg', :class => 'Children with garden') %>
      <%= image_tag('RGH-bag-4-index-2.jpg', :class => 'RGH bag') %>
      <p>Every $20 provides a Rhody Grows Hope garden kit and step-by-step support for a family in need to grow their own fresh vegetables, fruits, 
        and herbs. Rhody Grows Hope is a container gardening project that inspires growing your own food for food security, sovereignty, and justice.</p>
      <% link_to 'donate', :class => "button" do %>
       <h5>Donate Now</h5>
      <% end %>
    </div>  
  </div>
  
  <div class="cell small-12">
     <h2 class="green-section-heading">LEARN</h2>
  </div>  
  <div class="text-center cell small-12">  
     <p>CC4ES classifies the complexity of sustainabiliy in six modules as below.  Although all of six modules are interconnected, 
       Environmental Justice & Diversity module underpins all others.  Environmental justice is social justice. Sustainability is 
       only possible in a society that champions justice and equity.</p> 
     <p>LEARN inventories and archives resourcess on sustainability by each of CC4ES Six Modules, serving as a repository for continual learning.</p>    
     <% link_to 'six-modules', :class => "button" do %>
       <h5>How to Navigate Six Modules</h5>
     <% end %>
  </div>  
  
  <div class="grid-x grid-padding-x grid-margin-x">
  <% data.site.modules.each do |card| %>
    <div class="grid-card cell small-12 medium-6 large-4">
      <div class="card-content">
        <% if card.module_id && card.module_id >= 0
            label_text = "#{card.label}" + " #{card.module_id}"
          else
            label_text = card.label
          end
         %>
        <div>
          <span class="tool-id-label"><%= label_text %></span>
        </div>
        <h3><%= card.title %></h3>
        <% if card.subtitle %><p><%= card.subtitle %></p><% end %>
      </div>
      <% link_to card.cta_page_key, :class => "button" do %>
        <%= card.cta_text %>
      <% end %>
    </div>
  <% end %>
  </div>
  <div class="cell small-12">
     <h2 class="green-section-heading">CONNECT</h2>
  </div>
  
  <div class="grid-x grid-margin-x">
   <div class="text-center cell small-12 medium-6">
      <p>CONNECT platforms network of gardeners through Hope Gardeners forum, and houses a compiled network list of organizations in various sectors relevant 
        to sustainability. This list is dynamically updated, available for network maps integral in coordinating collaboration for collective shifts 
        neccesary for resilient community building. Majority of this list was screened and selected from the Providential Gardener's list.  CC4ES would 
        like to attribute to Susan Kortes of Providential Gardener https://www.provgardener.com/ , who created such a comprehensive list and continually 
        updates the list.</p>   
   </div>
    
   <div class="text-center cell small-12 medium-6">
     <%= image_tag('CC4ESHG_logo.jpg', :class => 'Hope Gardeners Logo') %>
     <% link_to 'connect', :class => "button" do %>
       <h5>To CONNECT</h5>
     <% end %>
   </div>  
  </div>
  
  <div class="cell small-12">
     <h2 class="green-section-heading">PRACTICE</h2>
  </div>
  
  <div class="grid-x grid-margin-x">
   <div class="text-center cell small-12 medium-6">
      <%= image_tag('Rhody_Grows_Hope_logo_TM(1).jpg', :class => 'Rhody Grows Hope TM logo') %>
     
      <% link_to 'rhody-grows-hope', :class => "button" do %>
       <h5>Learn More</h5>
      <% end %>
   </div>  
    
   <div class="text-center cell small-12 medium-6">
      <p>PRACTICE features CC4ES programs, initiatives and on-ground cohorts in practice. Although each program has its own specific focus, Rhody Grows Hope project
        encompasses these CC4ES programs the common threads of which are to grow own food at the community grassroots level, initiated, narrated and empowered by 
        members of the communities these programs tend to. The programs include:</p>
      <ul>
        <li><a href='museum-of-SH'><em>Museum of Silenced Histories & Garden of Regeneration</em></a></li>
        <li><a href="https://cc4es2.wixsite.com/y4us"><em>Hope Gardeners</em></a></li>
        <li><a href='youths-4-urban-sustainability'><em>Youths for Urban Sustainability</em></a></li>
      </ul>
      <% link_to 'practice', :class => "button" do %>
       <h5>To PRACTICE</h5>
      <% end %>
   </div>  
  </div>
</article>
