---
nav: "practice"
path: "/practice/"
title: "CC4ES | Practice"
description: "CC4ES Programs"
hero_title: "Programs"
hero_subtitle: "CC4ES programs"
---

<%= partial 'partials/header' %>

<article class="grid-container">

  <div class="grid-x grid-margin-x">

    <% data.practice.programs.each do |program| %>
    <div class="cell small-12 medium-6">
      <div class="title-with-photo">
        <%= image_tag("#{program.image}", :alt => "#{program.image_alt}", :class => 'program-img') %>
        <div class="program-text">
          <span class="h4"><%= program.name %></span>
          <p class="program-description"><%= markdown(program.description) %></p>
          <p class="program-link"><a href="<%= program.link %>">Learn more &raquo;</a></p>
          <p class="program-link"><b>Relevant modules:</b> <%= markdown(program.modules) %></p>
        </div>
      </div>
    </div>
    <% end %>
    
  </div>

</article>

