---
nav: "practice"
path: "/practice/"
title: "CC4ES | Practice"
description: "CC4ES Programs"
hero_title: "Programs"
hero_subtitle: "CC4ES programs"
---

<%= partial 'partials/header' %>

<article class="grid-container">

  <div class="grid-x grid-margin-x grid-padding-x grid-margin-y">

    <% data.practice.programs.each do |program| %>
    <div class="program-div cell small-12 medium-6">
      <div class="title-with-photo grid-x grid-margin-x grid-padding-y" style="padding:0;border:2px solid #cec6e6;">
        <h4 class="program-title cell medium-12" style="text-align:center;margin:0;background:#cec6e6;width:100%;"><%= program.name %></h4>
        <%= image_tag("#{program.image}", :alt => "#{program.image_alt}", :class => 'program-img cell medium-6 small-12', :style => 'border: 2px solid #ccc;') %>
        <div class="program-text cell medium-6 small-12">
          <p class="program-description"><%= markdown(program.description) %></p>
          <p class="program-link"><a href="<%= program.link %>">Learn more &raquo;</a></p>
          <p class="program-link"><b>Relevant modules:</b> <%= markdown(program.modules) %></p>
        </div>
      </div>
    </div>
    <% end %>
    
  </div>

</article>

